<!DOCTYPE html>
<html>
<head>
    <title>Place Autocomplete and Directions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key={{.apiKey}}&callback=initMap&libraries=places&v=weekly"
            defer
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="templates/route_search/style_improve.css" />
    <script src="templates/route_search/place_and_direction_improve.js"></script>
</head>
<body>
<div id="left-panel">
    <input
            id="origin-input"
            class="auto-c controls"
            type="text"
            placeholder="出発地を入力してください"
    />
    <br>
    <input
            id="destination-input"
            class="auto-c controls"
            type="text"
            placeholder="目的地を入力してください"
    />

        <input
                type="radio"
                name="type"
                id="changemode-walking"
                checked="checked"
        />
        <label for="changemode-walking">徒歩</label>

        <input type="radio" name="type" id="changemode-transit" />
        <label for="changemode-transit">公共交通機関</label>

        <input type="radio" name="type" id="changemode-driving" />
        <label for="changemode-driving">自動車</label>
    </div>
</div>
<div id="right-panel">
    <p>経路の詳細</p>
</div>
<div id="map"></div>
</body>
</html>