<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>パスワードの編集</title>
</head>
<body>
{{ template "navbar" .}}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">パスワードの編集</h4>
                </header>
                <article class="card-body">
                    <form action="/profile/password_edit" method="POST">
                        <div class="form-row">
                            <div class="col form-group">
                                <label>現在のパスワード:</label>
                                <input type="text" id="current-password" name="current-password" class="form-control"
                                       required>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <hr>
                        <div class="form-group">
                            <label>新しいパスワード:</label>
                            <input class="form-control" name="password" id="password" type="password"
                                   placeholder="新しいパスワードを入力(8文字以上)" minlength="8" required>
                            <br>
                            <input class="form-control" id="password-confirm" type="password"
                                   placeholder="確認用にもう一度パスワードを入力" minlength="8" required>
                        </div> <!-- form-group end.// -->
                        {{if .msg}}
                        <span style="color: red">{{.msg}}</span>
                        {{end}}
                        <div class="form-group">
                            <button type="submit" id="register-btn" class="btn btn-primary btn-block">パスワードを変更する
                            </button>
                        </div> <!-- form-group// -->
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->
</div>

</body>
</html>