# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

#goland関係のファイル
.idea

#envファイル
/app/env

#Javascript APIのDirections ServiceとDirections APIのgolangクライアントにおけるJSONレスポンスを保存したファイル
JavascriptAPI_response.txt
golang_client_response.txt