<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>保存済みルート一覧</title>
    {{ template "imports" }}

</head>
<body>
{{ template "navbar" .}}
<div class="mt-5 text-center">
    <h3>削除の確認</h3>
    <p>ルート{{.title}}を削除します。よろしいですか？</p>
</div>
<div class="d-flex">
    <div class="mx-auto d-flex">
        <form action="/{{$.searchType}}/delete_route" method="POST">
            <button class="btn-danger mr-3" type="submit" name="title" value="{{.title}}">削除する</button>
        </form>
        <a href="/mypage/show_routes/?search_type={{$.searchType}}">
            <button class="btn-success">戻る</button>
        </a>
    </div>
</div>

</body>
</html>