<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    {{ template "imports" }}

    <title>マイページ</title>
</head>
<body>
{{ template "navbar" .}}
{{if .msg}}
<div class="py-2 d-flex" style="background-color: pink"><span class="mx-auto" style="color: brown">{{.msg}}</span></div>
{{else if .success}}
<div class="py-2 d-flex" style="background-color: lightblue"><span class="mx-auto" style="color: green">{{.success}}</span></div>
{{end}}
<div class="mt-5 text-center">
    <h3>{{.userName}}</h3>
</div>
<div class="container">
    <hr>
    <div class="row card-deck mb-1 text-center">
        <div class="col-md-4 mb-5 shadow-sm">
            <div class="card">
                <div class="card-header" style="background-color: orange">
                    <h4 class="my-0 font-weight-normal" style="color: white">プロフィール</h4>
                </div>
                <div class="card-body">
                    <a href="/profile">
                    <button class="text-white btn-warning" type="button">確認または編集</button>
                    </a>
                </div><!-- card-body end .// -->
            </div><!-- card end.// -->
        </div>
        <div class="col-md-4 mb-5 shadow-sm">
            <div class="card">
                <div class="card-header" style="background-color: #1A73E8">
                    <h4 class="my-0 font-weight-normal" style="color: white">保存したまとめ検索一覧</h4>
                </div>
                <div class="card-body">
                    <a href="/mypage/show_routes/?search_type=multi_search">
                        <button class="btn-primary" type="button">保存したルートを確認</button>
                    </a>
                </div><!-- card-body end .// -->
            </div><!-- card end.// -->
        </div>
        <div class="col-md-4 mb-5 shadow-sm">
            <div class="card">
                <div class="card-header" style="background-color: #0dcaf0">
                    <h4 class="my-0 font-weight-normal" style="color: white">保存した同時検索一覧</h4>
                </div>
                <div class="card-body">
                    <a href="/mypage/show_routes/?search_type=simul_search">
                        <button class="btn-info" type="button">保存したルートを確認</button>
                    </a>
                </div><!-- card-body end .// -->
            </div><!-- card end.// -->
        </div>
        <div class="col-md-4 mb-5 shadow-sm">
            <div class="card">
                <div class="card-header" style="background-color: #6c757d">
                    <h4 class="my-0 font-weight-normal" style="color: white">お問い合わせ</h4>
                </div>
                <div class="card-body">
                    <a href="/question_form">
                        <button class="btn-secondary" type="button">質問する</button>
                    </a>
                </div><!-- card-body end .// -->
            </div><!-- card end.// -->
        </div>
    </div>
<form action="/logout" method="POST">
    <button class="btn-danger" type="submit">ログアウト</button>
</form>
</div>

</body>
</html>