/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/*出発地と目的地のinput要素*/
.input-fields {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 350px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

/*ルート一覧表示パネル*/
.route-detail select,
.route-detail input {
    font-size: 10px;
}

.route-detail select {
    width: 100%;
}

.route-detail i {
    font-size: 10px;
}

.route-detail {
    color: black;
    height: available;
    width: 100%;
    background-color: white;
    overflow: auto;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

/*ルート検索用のパネル*/
#left-panel {
    color: white;
    height: 100%;
    float: left;
    width: 400px;
    overflow: auto;
}

#search-box{
    background-color: #1A73E8;
}
#required-fields,#option-fields{
    margin-left: 10px;
}

#option-fields{
    min-height: 90px;
}

@media print {
    #map {
        height: 500px;
        margin: 0;
    }

    .route-detail {
        float: none;
        width: auto;
    }
}

/*経路の詳細を表示する場合*/
/*.adp-substep{*/
/*    font-size: 14px;*/
/*}*/

/*経路の詳細を非表示に設定*/
.adp-text,.adp-summary,.adp-substep,.adp-marker2,.adp-placemark{
    display: none;
}

/*徒歩ルートの注意書き*/
.warnbox-content {
    background: #fff1a8;
    padding: 5px 6px;
    font-size: 13px;
}
