{{define "navbar"}}
<!--ナビゲーションバー-->
<div class="navbar" style="height: 50px;background-color: #555555;border-bottom: #F6F6F6 2px solid;display: flex;">
    <div class="d-flex justify-content-center">
        <a href="/"><h2 class="mb-0 mr-4" style="color: white"><i>グーグる〜と</i></h2></a>
        <div class="d-flex align-items-center">
        <a href="/multi_search"><button class="btn-primary mr-3">まとめ検索</button></a>
        <a href="/simul_search"><button class="btn-info">同時検索</button></a>
        </div>

    </div>
    <div style="display: flex;justify-content: flex-end">
        <div>
            {{if eq .isLoggedIn true}}
            <a href="/mypage"><p style="color: white">マイページ</p></a>
            {{else}}
            <a href="/login"><p style="color: white">ログイン</p></a>
            {{end}}
        </div>
    </div>
</div>
{{end}}